
.containStep {
    display: flex;
    margin-right: 20px ;   
    position: relative; 
}

.hWBg {
    width: 75%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 75%;
    height: 0;
    padding-top: 54.64%; /* (img-height / img-width * container-width) */  
                /* (853 / 1280 * 100)   --- prob change this/fiddle w this */ 
}

.longHexContainer{
    width: 50%;
    height: fit-content;
    position: absolute;
    /* bottom: 66.4%; */
    bottom: 53.4%;
    left: 75%;
}

.longHex {
    /* position: absolute; */
     width: 100%;
    height: auto; 
}


.numberImg {
    width: 100%;
    height: auto;
}

.numberImgContainer {
    width: 10%;
    position: absolute;
    left: 105%;
    bottom: 12%;
}

/* will prob need to change this depending on the text volume james gives */
.hexTxt{
    position: absolute;
    padding: 5%;
    bottom: 10%; 
}


/* Button for FAQ */

.faqBtn{
    color: #004c54 !important;
    background-color: #F7FCFF;
    width: 100%;
    border-radius: 0px;
    border:none;
    border-top: #004c54 thick solid;
    padding: 2%;

    
 
}


.faqBtn:hover {
    color: #004c54 !important;
    background-color: #F7FCFF;
    display: block;
}

.faqBtn:active{
    color: #004c54 !important;
    background-color: #F7FCFF;
  
}

.faqBtn:focus{
    color: #004c54 !important;
    background-color: #F7FCFF;
    border-bottom: none;
}


#collapse-text{
    padding: 0 2% 2% 2%;
    /* /* font-weight: 500; */
    font-size: 1.15rem; 
    font-weight: lighter;
}




/* button:focus:not(:focus-visible){
    outline: none;
} */

