body {
    background: #F7FCFF !important;
    /* background: #F7FCFF; */
    overflow-x: hidden;
}

*{
    color: #F0F4F7;
    font-family: 'Messina Sans', sans-serif;
    font-weight: 400;
}


/* TrainPanel.js */

.flexAlignEnd{
    flex-direction: column;
    align-items: flex-end;
}

.mcfH1{
    padding-right: 2%;
    font-style: italic;
    /* font-size: 1.8rem; */
    font-weight: bolder;
    letter-spacing: 0.1rem;
}

.txtBox{
    width: 60%;
    padding: 0% 5% 5%;
}

.trainTxtPanel{
    margin-top: 25%;
    /* margin-top: 15%; */
}
.bgDiv{
    background: #004c54 ;
    height: fit-content;
    overflow-wrap: normal;
    
}



/* */

/* Landingpage css */

.reviewCard.card {
    background-color: #004c54 ;
    color: #8B0808;
    /* padding: 10%; */
    /* max-width: fit-content;
    min-width: min-content; */
    margin: 1rem;
    width: 50%;
    /* min-height: ; */
    
}

.reviewDeck {

    width: 100%;
}


.reviewContainer.container{
    width: 100% !important;
    max-width: 100% !important;
    overflow-x: hidden;
    padding: 5% 0%;
}
/* .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
    width: 100% !important;
} */

.blockquote-footer{
    text-align:end;
    padding-right: 5%;
    color: #F0F4F7 !important;
}

@media only screen and (max-width: 700px){
    .reviewDeck{
       flex-wrap: wrap;
       flex-direction: column;
       align-items: center;
    }
    .reviewCard.card {
        margin: 1rem;
        width: 95%;        
    }
}



/* links page */
.centerContainer {
    display: flex;             
    flex-direction: column;    
    justify-content: center;   
    align-items: center;        
    height: 100%;
 
}

.linksContainer {
    width: 80%;
    margin: 5px;
    text-align: center;
}




.flexAlignStart{
    flex-direction: column;
    align-items: flex-start;
}



/* Find your plan button */
.btn-primary.buttonWhite{
    color: #004c54;
    background-color: #FFFFFF;
    border-color: #FFFFFF; 
    border-radius: 0px;

    /* font-size: 1.2rem; */
    letter-spacing: 0.15rem;
}

.btn-primary.buttonWhite:hover{
    color: #FFFFFF;
    background-color: #004c54;
    border-color: #FFFFFF; 
    border-radius: 0px;

    font-size: 1.2rem;
    letter-spacing: 0.15rem;
}

.btn-primary.buttonWhite:focus{
    color: #FFFFFF;
    background-color: #004c54;
    border-color: #FFFFFF; 
    box-shadow: none;
    border-radius: 0px;
  

    font-size: 1.2rem;
    letter-spacing: 0.15rem;
}

/* How it works */

/* img.longHex{
    z-index: 1;
    align-self: flex-end;
} */

/* img.numberImg {
    height: 50px;
} */
/* 
.longHexContainer {
    position: relative;
}
.longHexContainer {
    position: absolute;
   
  
} */



p.fontTest{
    color: #004c54;
}



.greenBehind{ 
    background-color: #35B686;
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 0;
    bottom: 25%;
    z-index: -1;

}