body {
    background: #F8F8F8;
    overflow-x: hidden;
}

*{
    color: #F8F8F8;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}


/* TrainPanel.js */

.flexAlignEnd{
    flex-direction: column;
    align-items: flex-end;
}

.mcfH1{
    padding-right: 2%;
    font-style: italic;
    font-size: 1.8rem;
    font-weight: bolder;
    letter-spacing: 0.1rem;
}

.txtBox{
    padding: 0% 5% 5%;
}

.trainTxtPanel{
    margin-top: 25%;
}
.bgDiv{
    background: #8B0808;
    height: fit-content;
    overflow-wrap: normal;
    
}



/* */

/* Landingpage css */

.reviewCard.card {
    background-color: #8B0808;
    color: #8B0808;
    /* padding: 10%; */
    max-width: fit-content;
    min-width: min-content;
    margin: 1rem;
    
}

.reviewDeck {
    /* width: fit-content; */
    width: 100%;
}


.reviewContainer.container{
    width: 100% !important;
    max-width: 100% !important;
    overflow-x: scroll;
    padding: 5% 0%;
}
/* .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
    width: 100% !important;
} */

.blockquote-footer{
    text-align:end;
    padding-right: 5%;
    color: #F8F8F8 !important;
}
