*{
    /* background-color: aqua; */
    margin-left:1%;
}


/* Renders the visible line */
.vertical-timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: rgb(7, 7, 7);
}

.vertical-timeline-element-content .vertical-timeline-element-date{
    font-size: 2rem !important;
}

.vertical-timeline-element-content{
    box-shadow: none;
    left: 1rem;
}

/* Positions the year (text)  */
.vertical-timeline-element-icon svg {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: 152px;
    margin-top: -12px;
    font-size: 50px;
    text-align: center;
    z-index: 1 !important;
}

/* For 2 column timeline view */
.vertical-timeline-element-icon {
    
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -2.25rem !important;
    width: fit-content !important;
    height: fit-content;
    /* border-style: solid; */
    border-radius: 0% !important;
    -webkit-box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgb(0 0 0 / 0%), 0 3px 0 4px rgb(0 0 0 / 0%);
    box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgb(0 0 0 / 0%), 0 3px 0 4px rgb(0 0 0 / 0%);

}


/* For 1 column timeline view  */
@media only screen and (max-width: 1169px){
    .vertical-timeline-element-icon {
    
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -1rem !important;
    width: fit-content !important;
    height: fit-content;
    border-radius: 0% !important;
    -webkit-box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgb(0 0 0 / 0%), 0 3px 0 4px rgb(0 0 0 / 0%);
    box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgb(0 0 0 / 0%), 0 3px 0 4px rgb(0 0 0 / 0%);
}

}